label {
  display: block;
  font-weight: bold;
  color: aliceblue;
}

li {
  list-style-type: none;
}

.search-result li a {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  padding: 0.5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.search-result li a:hover {
  background-color: #435A60;
  color: white;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

.content-block {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.user-container {
  display: flex;
  flex-direction: row;
  max-width: 25rem;
  flex-wrap: wrap;
}

.user-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 3rem;
  border: 1px solid black;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
  margin: 1.5rem 2.5rem 2.5rem 2.5rem;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.img-border {
  border-radius: 10px;
  display: inline-block;
}

.bottom-left {
  text-transform: uppercase;
  margin: 40px 8px 10px 8px;
  font-size: 3rem;
  position: absolute;
  bottom: 2.5rem;
  left: 6rem;
}

#formContent {
  margin-left: 2rem;
  margin-right: 4rem;
}
#formContent label {
  color: black;
}
#formContent h4 {
  font-size: 1.5rem;
  margin-left: 2.5rem;
  text-align: left;
}

.form-group:first-of-type input {
  margin-top: 1rem;
}

.form-group:last-child input {
  margin-bottom: 2rem;
}

.course-wrapper {
  display: flex;
}

#formDescription {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  margin-left: 4rem;
  min-width: 23rem;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}
#formDescription label {
  color: black;
}

#searchbox {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#userBox {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  margin-left: 2rem;
  margin-right: 4rem;
  min-width: 23rem;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}
#userBox label {
  color: black;
}

nav ul {
  height: 8rem;
  width: 100%;
  align-content: center;
}

nav ul {
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}
nav ul:hover {
  display: none;
}

nav ul::-webkit-scrollbar {
  display: none;
}

.search-result li a {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url("img.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}
#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.mat-stepper-horizontal {
  background-color: #f8f9fa;
  border-radius: 10px;
  margin-top: 2rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.mat-form-field {
  margin-top: 2rem;
  align-content: center;
}

.file-input {
  display: none;
}

/*# sourceMappingURL=create-lecture.component.css.map */
