<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <label class="active"> Sign In </label>
        <label class="inactive underlineHover" routerLink="/sign-up">Sign Up </label>

        <!-- Login Form -->
        <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">
            <input type="text" id="Username" class="fadeIn second" formControlName="username" placeholder="Username">
            <input type="password" id="Password" class="fadeIn third" formControlName="password" placeholder="Password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>